{% extends "layout3.html" %}
{% block content %}

    <div class="content-i-guess">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Select A New Job</legend>
                <div class="form-group">
                    {{ form.job_id.label(class='form-control-label') }}
                    {% if form.job_id.errors %}
                        {{ form.job_id(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.job_id.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.job_id(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
      </div>

    <h1>Jobs List</h1>
    <table>
      <thead>
        <tr>
            <th>Job id</th>
            <th>Company</th>
            <th>Skill</th>
            <th>Location</th>
        </tr>
      </thead>
      <tbody>
          {% for job in jobs %}
            <tr>
                <td data-column="Job id">{{ job.job_id }}</td>
                <td data-column="Company">{{ job.company.username }}</td>
                <td data-column="Skill">{{ job.skill }}</td>
                <td data-column="Location">{{ job.location }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>

    <a href="{{ url_for('view_jobs_can') }}" class="w3-button w3-green">View Jobs Applied for</a>


{% endblock content %}